@use '../utils/' as *;

.card {
    width: 100%;
    height: 255px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    @media screen and (min-width: 991px) {
       width:340px;
       height: 340px;
    } 
    &:hover {
        img {
            filter: brightness(0.95);
        }
        h3 {
            color: $lightcolor;
        }
    }
    img {
        filter: brightness(0.65);
    }
    h3 {
        font-size: 18px;
        font-weight: $mainFontWeight;
        position: absolute;
        left: 19px;
        bottom: 15px;
        right: 19px;
        color: $lightcolor;
        z-index: 9;
    }
}